{% extends 'base.html' %}


{% block title %} Search {% endblock title %}

{% block body1 %}
<form action="{% url 'search' %}" method='POST'>
    {% csrf_token %}
    <label for="name">Name: </label><br>
    <input type="text" id="name" name="name" value="{{ name }}"><br>
    <label for="dept">Department: </label><br>
    <input type="text" id="dept" name="dept" value="{{ dept }}"><br>
    <label for="role">Role: </label><br>
    <input type="text" id="role" name="role" value="{{ role }}"><br>
    <label for="phone">Phone Number: </label><br>
    <input type="number" id="phone" name="phone" value="{{ phone }}"><br>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button><br>
</form>

{% endblock body1 %}
