{% extends 'base.html' %}


{% block title %} Views {% endblock title %}

{% block body1 %}

<div class="container">
    <table class="table table-bordered border-light">
        <thead class="table-dark">
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>First Name</th>
                <th scope='col'>Last Name</th>
                <th scope='col'>Department</th>
                <th scope='col'>Role</th>
                <th scope='col'>Salary</th>
                <th scope='col'>Bonus</th>
                <th scope='col'>Phone</th>
                <th scope='col'>Location</th>
                <th scope='col'>Hire Date</th>
                <th scope='col'>Action</th>
            </tr>
        </thead>

        <tbody class="table-secondary">
            {% for emp in employee %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.f_name}}</td>
                <td>{{emp.l_name}}</td>
                <td>{{emp.dept}}</td>
                <td>{{emp.role}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.bonus}}</td>
                <td>{{emp.phone}}</td>
                <td>{{emp.dept.location}}</td>
                <td>{{emp.hire_date}}</td>
                <td>
                    <a href="{% url 'update' emp.id %}" class="btn btn-danger btn-sm">Edit</a>
                    <form action="{% url 'delete' emp.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-warning btn-sm" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body1 %}


